.imagem{
margin-top: 10% ;
display: flex;
justify-content: center;
}

.welcome-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
  
  .welcome-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .welcome-container p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .btn {
    background-color:#0d6efd;
  }

  .btn:hover {
    background-color: #0d6efd; /* muda o fundo */
    color: white; /* muda a cor do texto */
    transform: scale(1.05); /* efeito de leve aumento */
  }